/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

/* ------------------------ */
/* HEADER STYLES */
/* ------------------------ */

header {
  background-color: #fff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

header h1 {
  font-size: 22px;
  color: #343a40;
  font-weight: 700;
  letter-spacing: 1px;
  font-weight: bold;
  margin-right: 600px;
}

header nav {
  font-size: 14px;
  text-transform: uppercase;
}

header nav a:link {
  margin-right: 10px;
  color: #343a40;
  background-color: transparent !important;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}

header nav a:link:last-child {
  margin-right: 0;
}

header nav a:visited {
  color: #000;
}

header nav a:hover {
  color: #0d6efd;
  font-weight: bold;
  text-decoration: underline #0d6efd;
}

header nav a:active {
  color: #0d6efd;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.details {
  background-color: #fff;
}

.menu {
  background-color: #f6f7fa;
}

.menu h1 {
  padding-bottom: 200px;
}

.menu ul li {
  list-style-type: none;
  border: 1px solid black;
  padding: 10px 0;
  text-align: center;
}

.menu ul li:last-child {
  margin-bottom: 30px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 60px;
  justify-content: center;
}

.details {
  padding: 20px;
}

.details h2 {
  padding-bottom: 50px;
}

.grid-3-cols div {
  padding: 50px;
  background-color: #f6f7fa;
}
